case-converter
dask
dask[distributed]
meteostat
openpyxl
pyarrow
pyet
pylint
pytest
pytest-cov
pytest-order
scikit-learn
scipy
Sphinx
sphinx_bootstrap_theme
sphinxcontrib-fulltoc
sphinxcontrib-napoleon
tables
tqdm
xlrd