ambience
cached-property
case-converter
fastparquet
fortranformat
ipykernel
meteostat
openpyxl
pandas-downcast
pyarrow
pylint
pyperclip
pytest
pytest-cov
pytest-order
scikit-learn
scipy
shapely
tables
tqdm
xlrd