beautifulsoup4
case-converter
meteostat
openpyxl
plotly
plotly-express
pyarrow
pyet
pylint
pytest
pytest-cov
pytest-order
scikit-learn
scipy
Sphinx
sphinx_bootstrap_theme
sphinxcontrib-fulltoc
sphinxcontrib-napoleon
tables
tqdm
xlrd